{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="nav">
        <a class="nav__button" id="back">
            <img src="/svg/back.svg" alt="" class="">
        </a>
        <a class="nav__button" id="next">
            <img src="/svg/next.svg" alt="" class="">
        </a>
        <a class="nav__button" id="upd">
            <img src="/svg/upd.svg" alt="" class="">
        </a>
        <a class="nav__button" id="home">
            <img src="/svg/home.svg" alt="" class="">
        </a>
        <input type="text" class="nav__input" placeholder="www" id="input">
        <a class="nav__button" id="go">
            <img src="/svg/go.svg" alt="" class="">
        </a>
    </div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}